.search-bar{
    border: 1px solid #ccc;  
    border-radius: 10 px;
    padding : 20px;
}


.search {
    border: 1px solid  #646cff;
    border-radius: 15px;
    height: 40px;
    width: 95%;
    padding: 2px 23px 2px 30px;
    outline: 0;
  }

  
  
  
  
  
  

  